@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900&display=swap');

html, body {
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}